<h1>Auth Example WebApp</h1>
<p>This is an implementation of a web server that accepts login / logout and other api actions from an android app.</p>

<p>Find the instructions <a href="http://lucatironi.github.io/tutorial/2012/10/15/ruby_rails_android_app_authentication_devise_tutorial_part_one/">here</a></p>

<p>login <a href="admin/login">here </a></p>


